<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>About Us</title>
  <link rel="stylesheet" href="./css/About.css">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>About Us</h2>
        <h5 class="h5">Our team members are<span></span></h5>
          <p>
            <li>JEWEL DENCIL</li>
            <li>JOEL MATHEW SIBY</li>
            <li>JUSTIN JAMES THOMAS</li>
            <li>JIKSON JIMMY</li>
            <li>KAMAL SURESH</li>
          </p>
        <div class="data">
        </div>
      </div>
    </div>
  </section>
</body>
</html>