<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Registration</title>
    <script src="./js/admin.js"></script>
    <link rel="stylesheet" href="./css/admin.css" />
  </head>
  <body>
    <div id="doctor-info">
      <div id="admin-heading">Admin</div>
      <div id="admin-id">Admin Name: <%=admin_id%></div>
    </div>

    <table id="patient-table" style="visibility: hidden">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Name</th>
          <th>Age</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <!-- Populate with patient data -->
      </tbody>
    </table>

    <table id="doctor-table" style="display: none">
      <thead>
        <tr>
          <th>Doctor ID</th>
          <th>Name</th>
          <th>Specialization</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <!-- Populate with doctor data -->
      </tbody>
    </table>

    <table id="pharmacist-table" style="display: none">
      <thead>
        <tr>
          <th>Pharmacist ID</th>
          <th>Name</th>
          <th>License Number</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <!-- Populate with pharmacist data -->
      </tbody>
    </table>
  </body>
  <form id="insertionForm">
    <!-- Username Field -->
    <div class="detailslabel">
      <div class="radio">
        <label class="radio-container"
          >Doctor
          <input type="radio" name="role" value="Doctor" id="doctorRadio" />
          <span class="radio-checkmark"></span>
        </label>
        <label class="radio-container"
          >Pharmacist
          <input
            type="radio"
            name="role"
            value="Pharmacist"
            id="pharmacistRadio"
          />
          <span class="radio-checkmark"></span>
        </label>
      </div>
      <input
        type="number"
        id="id"
        placeholder="Id: "
        name="id"
        required
      /><br />

      <!-- Password Field -->
      <input
        type="password"
        id="password"
        placeholder="Password:"
        name="password"
        required
      /><br />

      <!-- User Details -->
      <input
        type="text"
        id="name"
        placeholder="Full Name: "
        name="name"
      /><br />

      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email: (For doctor only)"
      /><br />

      <input
        type="text"
        id="spec"
        name="spec"
        placeholder="Specialization: (For doctor only)"
      /><br />

      <input
        type="text"
        id="exp"
        name="exp"
        placeholder="Experiance: (For doctor only)"
      /><br />

      <input
        type="number"
        id="age"
        name="age"
        placeholder="Age: (For doctor only)"
      /><br />

      <button class="submit-button" type="button" onclick="handleSubmit()">
        SUBMIT
      </button>
    </div>
  </form>
  <div class="error-window" id="success-container">
    <p id="success"></p>
  </div>
</html>
