<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/front.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOSPITAL MANAGEMENT</title>
  </head>
  <body>
    <section>
      <script>
        function handleSubmit() {
          var selectedValue = document.querySelector(
            'input[name="role"]:checked'
          ).value;
          if (selectedValue === "Pharmacist") {
            document.getElementById("loginForm").action = "/pharma_login";
          } else if (selectedValue === "Doctor") {
            document.getElementById("loginForm").action = "/doctor_login";
          } else if (selectedValue === "Administrator") {
            document.getElementById("loginForm").action = "/admin_login";
          }
          else{
            document.getElementById("loginForm").action = "/pharma_login";
          }
        }
      </script>
      <div class="form_box" name = "formbox">
        <div class="form-value">
          <form method="POST" id="loginForm" onsubmit="handleSubmit()">
            <h2>Login</h2>
            <label class="radio-container"
              >Doctor
              <input type="radio" name="role" value="Doctor" />
              <span class="radio-checkmark"></span>
            </label>

            <label class="radio-container"
              >Pharmacist
              <input type="radio" name="role" value="Pharmasist" />
              <span class="radio-checkmark"></span>
            </label>
            <label class="radio-container"
              >Administrator
              <input type="radio" name="role" value="Pharmasist" />
              <span class="radio-checkmark"></span>
            </label>
            <div></div>
            <div class="inputbox">
              <ion-icon name="people-outline"></ion-icon>
              <input
                class="input-field"
                type="text"
                placeholder="Username"
                name="username"
                required
              />
              <label for="">username</label>
            </div>
            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <input
                class="input-field"
                type="password"
                placeholder="Password"
                name="password"
                required
              />
              <label for="">password</label>
            </div>
            <div class="forget">
              <label for=""
                ><input type="checkbox" /> Remember Me
                <a href="#">forget Password</a></label
              >
            </div>
            <button class="login" type="submit">Log In</button>

          </form>
        </div>
      </div>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
