<!DOCTYPE html>
<html>
<head>
  <title>Home :-)</title>
</head>
<body>
    <h2 style="color:red">Hello <%=name%></h2>
    <p>This would be the homepage/Dashboard for the doctor/Pharmasist/Admin/User </p><br>
    <p>Did this just to make sure that the server is working</p> 
</body>
</html>
