<!DOCTYPE html>
<html>
  <head>
    <script src="./js/pharma_page.js"></script>
    <title>Pharmacist</title>
    <link rel="stylesheet" href="./css/pharma.css" />
  </head>
  <body>
    <div class="container">
      <form
        id="searchbar"
        class="searchbar"
      >
        <input
          type="username"
          placeholder="patient id"
          name="pat_id"
          id="pat_id"
        />
        <button class="search_button" type="button" onclick="handleSubmit()" onsubmit="handleSubmit()">
          <img src="./images/search.png" />
        </button>
      </form>
      <br /><br />
      <div id="table_container" class="table-container">
        <h3></h3>
      </div>
      <main>
        <section class="table_body" id="table_body">
          <table id="pat_table" style="display: none">
            <label id="pat_name_label"> </label><br />
            <label id="pat_age_label"> </label><br />
            <label id="pat_sex_label"> </label><br />
            <thead>
              <tr>
                <th>Doctor Id</th>
                <th>Prescription Id</th>
                <th>Prescription Name</th>
                <th>Prescription Date</th>
                <th>Amount</th>
                <th>Prescribed</th>
              </tr>
              <br />
            </thead>
            <tbody></tbody>
          </table>
        </section>
      </main>
    </div>
    <div class="error-window" id="error-container">
      <p>Patient Not found/Patient has no active prescriptions</p>
    </div>
  </body>
</html>
